body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(73, 73, 73);
    perspective: 1000px;
    height: 100vh;
}

.page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: rgb(198, 198, 198);
    color: rgb(0, 0, 0);
    height: 50%;
    border-radius: 10px;
    width: 15%;
    transform-style: preserve-3d;
    transform-origin: left center;
    box-shadow: 5px 5px 5px black;
}
#clickArea{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle at 0% 0%, white, rgb(0, 0, 0));
    height: 50%;
    aspect-ratio: 1/ 1;
    border-radius: 50%;
    box-shadow: 5px 5px 10px black;
}
p{
    color: black;
}

a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

